@import 'globals.css';
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.add-product-page {
    display: flex;
    height: 100%;
}

.product-preview {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
}

#image-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#image-preview-container {
    position: relative;
    width: 80%;
    max-width: 400px;
    height: 400px;
    width: 400px;
    border: 1px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #222;
}

#image-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

#upload-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.upload-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.add-product-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f7f7f7;
}

#product-form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.required-asterisk {
    color: red;
}

.btn {
    padding: 0.75rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    background-color: #333;
}

.btn-remove {
    border: 1px solid white;
    width: 50%;
    margin-top: 1rem;
}

.error-message {
    display: block;
    padding: 0.75rem;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .add-product-page {
        flex-direction: column;
    }

    .product-preview, .add-product-panel {
        flex: none;
        width: 100%;
        height: 50%;
    }
}
